{% extends 'layout.html' %}

{% block body %}
    <div class="jumbotron text-center">
        <h2>Netmiko Demo using Flask Framework</h2>
        <p class="lead">Network Automation Tasks...
            Netmiko supports the following platforms with the indicated level of testing</p>
        <ul class="list-group">
            <li class="list-group-item">Arista EOS</li>
            <li class="list-group-item">Cisco ASA</li>
            <li class="list-group-item">Cisco IOS/IOS-XE</li>
            <li class="list-group-item">Cisco IOS-XR</li>
            <li class="list-group-item">Cisco NX-OS</li>
            <li class="list-group-item">Cisco SG300</li>
            <li class="list-group-item">HP Comware7</li>
            <li class="list-group-item">HP ProCurve</li>
            <li class="list-group-item">Juniper Junos</li>
            <li class="list-group-item">Linux</li>
        </ul>
    </div>
{% endblock %}