{% extends 'layout.html' %}

{% block body %}
    <h1>Create VLAN</h1>
    <form method="POST" action="">
        <div class="form-group">
            <label for="vlanId">Vlan ID</label>
            <input type="number" name="vlanId" class="form-control" />
        </div>
        <div class="form-group">
            <label for="vlanName">Vlan Name</label>
            <input type="text" name="vlanName" class="form-control" />
        </div>
        <div class="form-group">
            <label for="interface">Interface to allow on Trunk</label>
            <select class="form-control" name="int">
                <option selected>Eth1/42</option>
                <option value="Eth1/43">Eth1/43</option>
                <option value="Eth1/44">Eth1/44</option>
                <option value="Eth1/45">Eth1/45</option>
                <option value="Eth1/46">Eth1/46</option>
                <option value="Eth1/47">Eth1/47</option>
            </select>
        </div>
        <div class="form-group">
            <label for="username">username</label>
            <input type="text" name="username" class="form-control" />
        </div>
        <div class="form-group">
            <label for="passcode">Passcode</label>
            <input type="password" name="passcode" class="form-control" />
        </div>
        <p><button type="submit" class="btn btn-primary">Submit</button></p>
    </form>
{% endblock %}